export JXPerf_HOME=<your JXPerf home>
export JAVA_HOME=<your Java home>
export PATH=$JAVA_HOME/bin:$PATH
export LD_LIBRARY_PATH=$JXPerf_HOME/src/kissmalloc:$JXPerf_HOME/preload:$LD_LIBRARY_PATH
export JAVA_AGENT=$JXPerf_HOME/thirdparty/allocation-instrumenter/target/java-allocation-instrumenter-HEAD-SNAPSHOT.jar
